<div class="table-responsive">
  <table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>Nombre Completo</th>
      <th>Rfc</th>
      <th>Curp</th>
      <th>Correoelectronico</th>
      <th>Consorcio</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <% unless user.full_name.nil? %>
              <%= user.full_name %>
            <% end %>
          </td>
          <td><%= user.rfc %></td>
          <td><%= user.curp %></td>
          <td><%= user.email %></td>
          <td><%= user.consortium_desc %></td>
          <td>
            <%= link_to 'Consultar', user, class: "btn btn-default" %>
            <%= link_to 'Editar', edit_user_path(user), class: "btn btn-success" %>
            <%= link_to 'Eliminar', user, class: "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

