<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:customer_company_id)%></label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @user.customer_company.nil? %>
          <%= @user.customer_company.company_customer %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:name)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:first_last_name)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.first_last_name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:second_last_name)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.second_last_name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:rfc)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.rfc %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:curp)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.curp %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:workplace_id)%></label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @user.workplace.nil? %>
          <%= @user.workplace.position %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:consortium)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= t(@user.consortium_desc) %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:email)%></label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.email %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:created_user_id)%></label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @user.created_user.nil? %>
            <%= @user.created_user.full_name %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%=User.human_attribute_name(:updated_user_id)%></label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @user.updated_user.nil? %>
            <%= @user.updated_user.full_name %>
        <% end %>
      </p>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <div class="col-sm-12 text-right"><%= render 'links', action: action %></div>
  </div>
</form>

