<p id="notice"><%= notice %></p>

<p>
  <strong>Puesto:</strong>
  <%= @workplace.puesto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @workplace.descripcion %>
</p>

<p>
  <strong>Nivel usuario:</strong>
  <%= @workplace.nivel_usuario %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @workplace.activo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @workplace.area %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @workplace.created_user_id %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @workplace.updated_user_id %>
</p>

<%= link_to 'Edit', edit_workplace_path(@workplace) %> |
<%= link_to 'Back', workplaces_path %>
