<%= form_for(@menu_option, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= render 'layouts/error_message', model: @menu_option  %>
  <div class="form-group<%= @menu_option.errors[:modulo].any? ? " has-error" : "" %>">
    <div class="col-sm-2 control-label"><%= f.label :modulo, "M贸dulo" %></div>
    <div class="col-sm-10"><%= f.text_field :modulo, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :descripcion, "Descripci贸n" %></div>
    <div class="col-sm-10"><%= f.text_field :descripcion, class: "form-control" %></div>
  </div>
  <div class="form-group<%= @menu_option.errors[:orden].any? ? " has-error" : "" %>">
    <div class="col-sm-2 control-label"><%= f.label :orden, "Orden" %></div>
    <div class="col-sm-10"><%= f.number_field :orden, class: "form-control" %></div>
  </div>
  <div class="form-group<%= @menu_option.errors[:ruta].any? ? " has-error" : "" %>">
    <div class="col-sm-2 control-label"><%= f.label :ruta, "Ruta" %></div>
    <div class="col-sm-10"><%= f.text_field :ruta, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :imagen, "Imagen" %></div>
    <div class="col-sm-10"><%= f.text_field :imagen, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :menu_option_id, "M贸dulo Padre" %></div>
    <div class="col-sm-10">
      <% if accion == "new" %>
          <%= f.select :menu_option_id, @menu_options_options, { :prompt =>  '-- Seleccione una opci贸n --' }, {:class => 'form-control'}  %>
      <% else %>
          <%= f.select :menu_option_id, @menu_options_options, { :include_blank => true }, {:class => 'form-control'}  %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :consorcio, "Consorcio" %></div>
    <div class="col-sm-10"><%= f.check_box :consorcio %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label"><%= f.label :activo %></div>
    <div class="col-sm-10"><%= f.check_box :activo %></div>
  </div>
  <hr />
  <div class="form-group text-right">
    <div class="col-sm-12"><%= f.submit 'Guardar', :class => 'btn btn-success' %> <%= render 'links', accion: accion %></div>
  </div>
<% end %>

