<div class="table-responsive">
    <table class="table table-responsive table-condensed table-hover table-striped">
      <thead>
      <tr>
        <th><%=MenuOption.human_attribute_name(:id)%></th>
        <th><%=MenuOption.human_attribute_name(:module)%></th>
        <th><%=MenuOption.human_attribute_name(:description)%></th>
        <th><%=MenuOption.human_attribute_name(:order)%></th>
        <th><%=MenuOption.human_attribute_name(:menu_option_id)%></th>
        <th><%=MenuOption.human_attribute_name(:consortium)%></th>
        <th><%=MenuOption.human_attribute_name(:active)%></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @menu_options.each do |menu_option| %>
          <tr>
            <td><%= menu_option.id %></td>
            <td><%= menu_option.module %></td>
            <td><%= menu_option.description %></td>
            <td><%= menu_option.order %></td>
            <td>
              <% unless menu_option.menu_option_id.nil? %>
                  <%= menu_option.up_module.module %>
              <% end %>
            </td>
            <td><%= t(menu_option.consortium_desc) %></td>
            <td><%= t(menu_option.active_desc) %></td>
            <td>
                <%= link_to t('views.buttons.show'), menu_option, class: "btn btn-default" %>
                <%= link_to t('views.buttons.edit'), edit_menu_option_path(menu_option), class: "btn btn-success" %>
                <%= link_to t('views.buttons.delete'), menu_option, class: "btn btn-danger", method: :delete, data: { confirm: t('views.messages.confirm_are_you_sure') } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>