<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Módulo:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.module %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Descripción:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.description %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Orden:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.order %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Ruta:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.path %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Imagen:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.image %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Consorcio:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.consortium_desc %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Módulo padre:</label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @menu_option.up_module.nil? %>
            <%= @menu_option.up_module.module %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Activo:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @menu_option.active_desc %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Usuario alta:</label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @menu_option.created_user.nil? %>
            <%= @menu_option.created_user.full_name %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Usuario cambio:</label>
    <div class="col-sm-10">
      <p class="form-control-static">
        <% unless @menu_option.updated_user.nil? %>
            <%= @menu_option.updated_user.full_name %>
        <% end %>
      </p>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <div class="col-sm-12 text-right"><%= render 'links', action: action %></div>
  </div>
</form>




