
<%= form_for(@area, :html => {:class => 'form-horizontal'}) do |f| %>
    <%= render 'layouts/error_message', model: @area  %>
    <div class="form-group<%= @area.errors[:customer_company_id].any? ? " has-error" : "" %>">
      <div class="col-sm-2 control-label"><%= f.label :customer_company_id, "Empresa" %></div>
      <div class="col-sm-10">
        <% if action == "new" %>
            <%= f.select :customer_company_id, @customer_companies_options, { :prompt =>  t('helpers.select.prompt') }, {:class => 'form-control'}  %>
        <% else %>
            <%= f.select :customer_company_id, @customer_companies_options, { :include_blank => true }, {:class => 'form-control'}  %>
        <% end %>
      </div>
    </div>
    <div class="form-group<%= @area.errors[:area].any? ? " has-error" : "" %>">
      <div class="col-sm-2 control-label"><%= f.label :area, "Área" %></div>
      <div class="col-sm-10"><%= f.text_field :area , class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :descripcion, "Descripción" %></div>
      <div class="col-sm-10"><%= f.text_field :descripcion, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :orden, "Orden" %></div>
      <div class="col-sm-10"><%= f.number_field :orden, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :area_id, "Área Padre" %></div>
      <div class="col-sm-10">
        <% if action == "new" %>
            <%= f.select :area_id, @areas_options, { :prompt =>  t('helpers.select.prompt') }, {:class => 'form-control'}  %>
        <% else %>
            <%= f.select :area_id, @areas_options, { :include_blank => true }, {:class => 'form-control'}  %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :activo %></div>
      <div class="col-sm-10"><%= f.check_box :activo %></div>
    </div>
    <hr />
    <div class="form-group">
      <div class="col-sm-12 text-right"><%= f.submit t('helpers.submit.save'), :class => 'btn btn-success' %> <%= render 'links', action: action %></div>
    </div>
<% end %>
