<h1>Listing areas</h1>

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Descripcion</th>
      <th>Orden</th>
      <th>Activo</th>
      <th>Created user</th>
      <th>Updated user</th>
      <th>Customer company</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.area %></td>
        <td><%= area.descripcion %></td>
        <td><%= area.orden %></td>
        <td><%= area.activo %></td>
        <td><%= area.created_user_id %></td>
        <td><%= area.updated_user_id %></td>
        <td><%= area.customer_company %></td>
        <td><%= area.area %></td>
        <td><%= link_to 'Show', area %></td>
        <td><%= link_to 'Edit', edit_area_path(area) %></td>
        <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path %>
