<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @area.area %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @area.descripcion %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @area.orden %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @area.activo %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @area.created_user_id %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @area.updated_user_id %>
</p>

<p>
  <strong>Customer company:</strong>
  <%= @area.customer_company %>
</p>

<p>
  <strong>Area:</strong>
  <%= @area.area %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
