<%= form_for(@permit) do |f| %>
  <% if @permit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permit.errors.count, "error") %> prohibited this permit from being saved:</h2>

      <ul>
      <% @permit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.text_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :menu_option_id %><br>
    <%= f.text_field :menu_option_id %>
  </div>
  <div class="field">
    <%= f.label :add %><br>
    <%= f.check_box :add %>
  </div>
  <div class="field">
    <%= f.label :update %><br>
    <%= f.check_box :update %>
  </div>
  <div class="field">
    <%= f.label :delete %><br>
    <%= f.check_box :delete %>
  </div>
  <div class="field">
    <%= f.label :execute %><br>
    <%= f.check_box :execute %>
  </div>
  <div class="field">
    <%= f.label :generate %><br>
    <%= f.check_box :generate %>
  </div>
  <div class="field">
    <%= f.label :upload %><br>
    <%= f.check_box :upload %>
  </div>
  <div class="field">
    <%= f.label :authorize %><br>
    <%= f.check_box :authorize %>
  </div>
  <div class="field">
    <%= f.label :created_user_id %><br>
    <%= f.number_field :created_user_id %>
  </div>
  <div class="field">
    <%= f.label :updated_user_id %><br>
    <%= f.number_field :updated_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
