<h1>Listing permits</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Menu option</th>
      <th>Registrar</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
      <th>Ejecutar procesos</th>
      <th>Generar archivos</th>
      <th>Cargar archivos</th>
      <th>Autorizar</th>
      <th>Created user</th>
      <th>Updated user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permits.each do |permit| %>
      <tr>
        <td><%= permit.role %></td>
        <td><%= permit.menu_option %></td>
        <td><%= permit.add %></td>
        <td><%= permit.update %></td>
        <td><%= permit.delete %></td>
        <td><%= permit.execute %></td>
        <td><%= permit.generate %></td>
        <td><%= permit.upload %></td>
        <td><%= permit.authorize %></td>
        <td><%= permit.created_user_id %></td>
        <td><%= permit.updated_user_id %></td>
        <td><%= link_to 'Show', permit %></td>
        <td><%= link_to 'Edit', edit_permit_path(permit) %></td>
        <td><%= link_to 'Destroy', permit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permit', new_permit_path %>
