<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @permit.role %>
</p>

<p>
  <strong>Menu option:</strong>
  <%= @permit.menu_option %>
</p>

<p>
  <strong>Registrar:</strong>
  <%= @permit.add %>
</p>

<p>
  <strong>Actualizar:</strong>
  <%= @permit.update %>
</p>

<p>
  <strong>Eliminar:</strong>
  <%= @permit.delete %>
</p>

<p>
  <strong>Ejecutar procesos:</strong>
  <%= @permit.execute %>
</p>

<p>
  <strong>Generar archivos:</strong>
  <%= @permit.generate %>
</p>

<p>
  <strong>Cargar archivos:</strong>
  <%= @permit.upload %>
</p>

<p>
  <strong>Autorizar:</strong>
  <%= @permit.authorize %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @permit.created_user_id %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @permit.updated_user_id %>
</p>

<%= link_to 'Edit', edit_permit_path(@permit) %> |
<%= link_to 'Back', permits_path %>
