<div class="row">
  <div class="col-xs-12 color-brand-primary text-center">
    <h1> inteso</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron vertical-center">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-primary">

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-5">
                    <%= image_tag("logo-inteso-colores.jpg", size: "250x250") %>
                  </div>
                  <div class="col-md-7">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group">
                          <%= f.label t('views.authentication.user') %>
                          <%= f.email_field :email, autofocus: true, class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :password %>
                          <%= f.password_field :password, autofocus: true, class: "form-control" %>
                        </div>
                        <% if devise_mapping.rememberable? -%>
                            <div class="form-group">
                              <%= f.check_box :remember_me %>
                              <%= f.label t('views.authentication.remember_me') %>
                            </div>
                        <% end -%>
                        <div class="form-group">
                          <%= f.submit t('views.buttons.login'), class: "btn btn-primary" %>
                        </div>
                        <div class="form-group">
                          <% if User.count.zero? %>
                              <%= render "devise/shared/links" %>
                          <% end %>
                        </div>

                        <div class="form-group text-right">
                          <%= link_to("Español", "#{Rails.application.config.spanish_website_url}#{request.env['PATH_INFO']}", class: "label label-info") %>
                          <%= link_to("English", "#{Rails.application.config.english_website_url}#{request.env['PATH_INFO']}", class: "label label-info") %>
                          <%= link_to("Português", "#{Rails.application.config.portuguese_website_url}#{request.env['PATH_INFO']}", class: "label label-info") %>
                        </div>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>




