<div class="table-responsive">
  <table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>Rol</th>
      <th>Descripción</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |rol| %>
        <tr>
          <td><%= rol.id %></td>
          <td><%= rol.rol %></td>
          <td><%= rol.descripcion %></td>
          <td>
            <%= link_to 'Consultar', rol, class: "btn btn-default" %>
            <%= link_to 'Editar', edit_rol_path(rol), class: "btn btn-success" %>
            <%= link_to 'Eliminar', rol, class: "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

