<div class="table-responsive">
  <table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>Empresa</th>
      <th>Rol</th>
      <th>Descripción</th>
      <th>Activo</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td><%= role.id %></td>
          <td>
            <% unless role.customer_company.nil? %>
                <%= role.customer_company.empresa_cliente %>
            <% end %>
          </td>
          <td><%= role.rol %></td>
          <td><%= role.descripcion %></td>
          <td><%= role.activo_desc %></td>
          <td>
            <%= link_to t('helpers.submit.show'), role, class: "btn btn-default" %>
            <%= link_to t('helpers.submit.edit'), edit_role_path(role), class: "btn btn-success" %>
            <%= link_to t('helpers.submit.delete'), role, class: "btn btn-danger", method: :delete, data: { confirm: t('messages.confirm_are_you_sure') } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

