<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @role.rol %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @role.descripcion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @role.activo %>
</p>

<p>
  <strong>Customer company:</strong>
  <%= @role.customer_company %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @role.created_user_id %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @role.updated_user_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
