
<%= form_for(@customer_company, :html => {:class => 'form-horizontal'}) do |f| %>
    <%= render 'layouts/error_message', model: @customer_company  %>
    <div class="form-group<%= @customer_company.errors[:company_customer].any? ? " has-error" : "" %>">
      <div class="col-sm-2 control-label"><%= f.label :company_customer %></div>
      <div class="col-sm-10"><%= f.text_field :company_customer , class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :rfc %></div>
      <div class="col-sm-10"><%= f.text_field :rfc, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :registered_name %></div>
      <div class="col-sm-10"><%= f.text_field :registered_name, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :customer_company_id %></div>
      <div class="col-sm-10">
        <% if action == "new" %>
            <%= f.select :customer_company_id, @customer_companies_options, { :prompt =>  t('helpers.select.prompt') }, {:class => 'form-control'}  %>
        <% else %>
            <%= f.select :customer_company_id, @customer_companies_options, { :include_blank => true }, {:class => 'form-control'}  %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :consortium %></div>
      <div class="col-sm-10"><%= f.check_box :consortium %></div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label"><%= f.label :active %></div>
      <div class="col-sm-10"><%= f.check_box :active %></div>
    </div>
  <hr />
  <div class="form-group">
    <div class="col-sm-12 text-right"><%= f.submit t('views.buttons.save'), :class => 'btn btn-success' %> <%= render 'links', action: action %></div>
  </div>
<% end %>
