<div class="table-responsive">
  <table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th><%=CustomerCompany.human_attribute_name(:id)%></th>
      <th><%=CustomerCompany.human_attribute_name(:company_customer)%></th>
      <th><%=CustomerCompany.human_attribute_name(:rfc)%></th>
      <th><%=CustomerCompany.human_attribute_name(:registered_name)%></th>
      <th><%=CustomerCompany.human_attribute_name(:consortium)%></th>
      <th><%=CustomerCompany.human_attribute_name(:customer_company_id)%></th>
      <th><%=CustomerCompany.human_attribute_name(:active)%></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @customer_companies.each do |customer_company| %>
        <tr>
          <td><%= customer_company.id %></td>
          <td><%= customer_company.company_customer %></td>
          <td><%= customer_company.rfc %></td>
          <td><%= customer_company.registered_name %></td>
          <td><%= t(customer_company.consortium_desc) %></td>
          <td>
            <% unless customer_company.customer_company_id.nil? %>
                <%= customer_company.up_company.company_customer %>
            <% end %>
          </td>
          <td><%= t(customer_company.active_desc) %></td>
          <td>
            <%= link_to t('views.buttons.show'), customer_company, class: "btn btn-default" %>
            <%= link_to t('views.buttons.edit'), edit_customer_company_path(customer_company), class: "btn btn-success" %>
            <%= link_to t('views.buttons.delete'), customer_company, class: "btn btn-danger", method: :delete, data: { confirm: t('views.messages.confirm_are_you_sure') } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>