<div class="page-header">
  <h1 class="text-center"><%= t('views.layouts.administration') %><span class="label label-default"><%= model %></span></h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><%= model %></h1>
      </div>
      <div class="panel-body">
        <%= render view_folder_name + '/index_form'  %>
        <hr />
        <div class="form-group text-right">
          <%= render view_folder_name + '/links', action: 'index' %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>