<%# add navigation links to this file %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Módulos', menu_options_path %></li>
    <li><%= link_to 'Empresas', customer_companies_path %></li>
    <li><%= link_to 'Usuarios', users_path %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración Empresas<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Áreas', areas_path %></li>
    <li><%= link_to 'Puestos', workplaces_path %></li>
    <li><%= link_to 'Roles', roles_path %></li>
  </ul>
</li>









