<%# add navigation links to this file %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("views.navigation.system") %><b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to MenuOption.model_name.human(count: 2), menu_options_path %></li>
    <li><%= link_to CustomerCompany.model_name.human(count: 2), customer_companies_path %></li>
    <li><%= link_to User.model_name.human(count: 2), users_path %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("views.navigation.company_settings") %><b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to Area.model_name.human(count: 2), areas_path %></li>
    <li><%= link_to Workplace.model_name.human(count: 2), workplaces_path %></li>
    <li><%= link_to Role.model_name.human(count: 2), roles_path %></li>
    <li class="divider"></li>
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><%= t("views.navigation.company_information") %></a>
      <ul class="dropdown-menu">
        <li><%= link_to Belief.model_name.human, companies_info_belief_path %></li>
        <li><%= link_to ExternalContext.model_name.human, companies_info_external_context_path %></li>
        <li><%= link_to MarketContext.model_name.human, companies_info_market_context_path %></li>
        <li><%= link_to InternalContext.model_name.human, companies_info_internal_context_path %></li>
        <li><%= link_to GlobalStrategy.model_name.human, companies_info_global_strategy_path %></li>
        <li><%= link_to GrowthVector.model_name.human, companies_info_growth_vector_path %></li>
        <li><%= link_to GrowthVectorDetail.model_name.human, companies_info_growth_vector_detail_path %></li>
        <li><%= link_to Sustainability.model_name.human, companies_info_sustainability_path %></li>
        <li><%= link_to SocialResponsability.model_name.human, companies_info_social_responsability_path %></li>
        <li><%= link_to Risk.model_name.human, companies_info_risk_path %></li>
        <li><%= link_to Opportunity.model_name.human, companies_info_opportunity_path %></li>
      </ul>
    </li>

  </ul>
</li>









