<%
    case accion
    when 'new'
        titulo = 'Captura de '
        estilo_panel = 'panel-primary'
    when 'edit'
        titulo = 'Modificación de '
        estilo_panel = 'panel-primary'
    when 'show'
        titulo = ''
        estilo_panel = 'panel-primary'
    else
      titulo = ''
      estilo_panel = 'panel-primary'
    end
%>
<div class="page-header">
  <h1 class="text-center"><%= titulo %><span class="label label-default"><%= nombre_elemento %></span></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel <%= estilo_panel %>">
      <div class="panel-heading">
        <h1 class="panel-title"><%= nombre_elemento %></h1>
      </div>
      <div class="panel-body">
        <%= render nombre_form, accion: accion  %>
      </div>
    </div>
  </div>
</div>
