<%
    case action
    when 'new'
        title = t('views.layouts.capture')
        panel_style = 'panel-primary'
    when 'edit'
      title = t('views.layouts.modification')
      panel_style = 'panel-primary'
    when 'show'
      title = ''
      panel_style = 'panel-primary'
    else
      title = ''
      panel_style = 'panel-primary'
    end
%>
<div class="page-header">
  <h1 class="text-center"><%= title %><span class="label label-default"><%= model %></span></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel <%= panel_style %>">
      <div class="panel-heading">
        <h1 class="panel-title"><%= model %></h1>
      </div>
      <div class="panel-body">
        <%= render form_name, action: action  %>
      </div>
    </div>
  </div>
</div>
